@model PhotoArchive.Models.Photo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div id="details">
    <!--ИД Важно!!!-->
    <h4>Photo</h4>
    <hr />
    <dl>
        <div class="DataBlock">
            <dd class="itemData">
                <img src="~/Images/Films/Films/@Html.DisplayFor(model => model.Film.FolderName)/@Html.DisplayFor(model => model.Pic)" alt="no image" class="temp" />
            </dd>
        </div>
        <div class="DataBlock">
            <div class="itemData">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </div>

            <div class="itemData">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Film)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Film.To_String)
                </dd>
            </div>

            <div class="itemData">
                <dd class="col-sm-10">
                    <a asp-controller="Photos" asp-action="Like" asp-route-Id="@Model.Id">
                        <img src="~/Images/Like/@Html.DisplayFor(model => model.Is_LikedString)" alt="no image" class="likePic" />
                        </a>
                </dd>
                
            </div>

            <div class="itemData">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Page)
                </dt>
                <dd class="col-sm-10">
                    <a asp-action="Page" asp-route-Num="@Model.Page">@Html.DisplayFor(model => model.Page)</a>
                </dd>
            </div>

            <div class="itemData">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Line)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Line)
                </dd>
            </div>

            <div class="itemData">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Place_In_Line)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Place_In_Line)
                </dd>
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
