@model IEnumerable<PhotoArchive.Models.Photo>

@{
    ViewData["Title"] = "Photos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Liked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Page)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="photoItem">       <!--ИД Важно!!!-->
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/Images/Films/Films/@Html.DisplayFor(modelItem => item.Film.FolderName)/@Html.DisplayFor(modelItem => item.Pic)" alt="no image" class="temp" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.To_String)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Liked)
            </td>
            <td>
                <a asp-action="Page" asp-route-Num="@item.Page">@Html.DisplayFor(modelItem => item.Page)</a>
                
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
